@model Fatec.AAP4.Web.Models.fornece_materiaprima

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>fornece_materiaprima</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fornecedor.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fornecedor.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materia_prima.descricao_matprima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materia_prima.descricao_matprima)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_fornecedor_materiaprima }) |
    @Html.ActionLink("Back to List", "Index")
</p>
