@model IEnumerable<Fatec.AAP4.Web.Models.estoque_produtoacabado>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Incluir", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.data_fabricacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data_estocagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quant_minima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quant_maxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quant_atual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.plano_contas.codigo_planocontas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.produto.descricao_produto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.data_fabricacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.data_estocagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quant_minima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quant_maxima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quant_atual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plano_contas.codigo_planocontas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.produto.descricao_produto)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_estoque_prodacab }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id_estoque_prodacab }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.id_estoque_prodacab })
        </td>
    </tr>
}

</table>
