@model IEnumerable<Fatec.AAP4.Web.Models.dre>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default">
    <div class="panel-heading">

        <h2>Demonstrativos de Resultados</h2>
    </div>

    <p>
        @Html.ActionLink("Incluir", "Create", null, new { @class = "btn btn-primary btn-sm" }) <br />
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_dre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome_dre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_dre }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id_dre }, new { @class = "btn btn-success btn-sm" }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.id_dre }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
        }

    </table>
</div>