@model Fatec.AAP4.Web.Models.fornecedor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>fornecedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            CNPJ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cnpj)
        </dd>

        <dt>
            Inscrição Estadual
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inscricao_estadual)
        </dd>

        <dt>
            Endereço
        </dt>

        <dd>
            @Html.DisplayFor(model => model.endereco)
        </dd>

        <dt>
            Bairro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bairro)
        </dd>

        <dt>
            Cidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade)
        </dd>

        <dt>
            UF
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uf)
        </dd>

        <dt>
            Telefone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-danger btn-sm" /> |
                @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
        </div>
    }
</div>
