@model IEnumerable<Fatec.AAP4.Web.Models.fornecedor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Incluir", "Create", null, new { @class = "btn btn-primary btn-sm" }) <br/>
</p>
<table class="table">
    <tr>
        <th>
            CNPJ
        </th>
        <th>
            Inscrição Estadual
        </th>
        <th>
            Endereço
        </th>
        <th>
            Bairro
        </th>
        <th>
            Cidade
        </th>
        <th>
            UF
        </th>
        <th>
            Telefone
        </th>
        <th>
            Email
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cnpj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inscricao_estadual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.uf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id_fornecedor }, new { @class = "btn btn-warning btn-sm" }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id_fornecedor }, new { @class = "btn btn-success btn-sm" }) |
            @Html.ActionLink("Deletar", "Delete", new { id = item.id_fornecedor }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
