@model Fatec.AAP4.Web.Models.materia_prima

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>materia_prima</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao_matprima)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_matprima)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco_compra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_matprima }, new { @class = "btn btn-warning btn-sm" }) |
        @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
</p>
