@model Fatec.AAP4.Web.Models.DetalheItens

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pedido</h4>
    <hr />

    Produtos:
    @*<select>
        @foreach (var item in Model.EstoqueProd....)
        {
            <option value="@item.id_estoque_prodacab">@item.produto.descricao_produto (@item.quant_atual)</option>
        }
        @Html.ActionLink("Incluir Produto", "IncluirProd", new { id = Model.idPedido }, new { @class = "btn btn-warning btn-sm" }) |
    </select>*@

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-8">
                Escolha o Produto:
                @*@Html.HiddenFor(x=>x.PedidoSelecionado.idPedido)*@
                @* Passando o Nome da ViewBag *@
                @Html.DropDownListFor(p => p.ItemSelecionado, Model.ListEstoqueProd, "Selecione")

                @*<input type="submit" value="Enviar" class="btn btn-default" />*@
                @Html.ActionLink("Incluir", "IncluirProd",
                            new { DetalheItens = Model },
                            new { @class = "btn btn-default btn-sm" })


            </div>
        </div>
    }

    <hr />
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_item_pedido_fk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_item_pedido_fk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cliente.razaosocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cliente.razaosocial)
        </dd>

    </dl>*@
</div>
<p>
        @*@Html.ActionLink("Editar", "Edit", new { id = Model.idPedido }, new { @class = "btn btn-warning btn-sm" }) |*@
        @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
</p>
