@model Fatec.AAP4.Web.Models.DetalheItens

@{
    ViewBag.Title = "Details";
}
@*<br /><br />*@
<h2>Detalhes do pedido - #@Model.PedidoSelecionado.idPedido</h2>

<div>
    <hr />

    Produtos:
    @*<select>
        @foreach (var item in Model.EstoqueProd....)
        {
            <option value="@item.id_estoque_prodacab">@item.produto.descricao_produto (@item.quant_atual)</option>
        }
        @Html.ActionLink("Incluir Produto", "IncluirProd", new { id = Model.idPedido }, new { @class = "btn btn-warning btn-sm" }) |
    </select>*@

    @using (Html.BeginForm("IncluirProd", "Pedidos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-md-8">
                Escolha o Produto:
                @Html.HiddenFor(x=>x.PedidoSelecionado.idPedido)
                @* Passando o Nome da ViewBag *@
                @Html.DropDownListFor(p => p.ItemSelecionado, Model.ListEstoqueProd, "Selecione")

                <label for="FirstName"><b>Quantidade:</b></label>
                @Html.TextBox("Quantidade",Model.Quantidade)
                <input type="submit" value="Incluir" class="btn btn-primary" />
                @*@Html.ActionLink("Incluir", "IncluirProd",
                            new { DetalheItens = Model },
                            new { @class = "btn btn-default btn-sm" })*@


            </div>
        </div>
    }

    <hr />

    <table class="table">
        <tr>
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Quantidade
            </th>
            <th>
                Preço Unitario
            </th>
            <th>
                Total
            </th>
            <th></th>
        </tr>

        @if (Model.ItensDB != null && Model.ItensDB.Any()) 
        { 
            foreach (var item in Model.ItensDB)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_produto_fk)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Produtos.SingleOrDefault(x=>x.id_produto == item.id_produto_fk).descricao_produto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.quantidade)
                    </td>
                    <td>
                        R$ @String.Format("{0:0.00}",Html.DisplayFor(modelItem => item.valor_unitario_item))
                    </td>
                    <td>
                        R$ @String.Format("{0:0.00}",Html.DisplayFor(modelItem => item.valor_total_item))
                    </td>
                    <td>
                        @Html.ActionLink("Deletar", "DeletarItem", new { 
                                pedidoId = Model.PedidoSelecionado.idPedido,
                                key = item.key_pedido,
                                produtoId = item.id_produto_fk },
                            new { @class = "btn btn-danger btn-sm" })
                    </td>
                </tr>
            }
        }
        </table>
      
</div>
<p>
        @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-danger btn-sm" })


        @using (Html.BeginForm("ConfirmarVenda", "Pedidos", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-8">
                    Forma de Pagamento:
                    @Html.Hidden("idPedido", Model.PedidoSelecionado.idPedido)
                    @* Passando o Nome da ViewBag *@

                    <select id="FormaPagamento" name="FormaPagamento">
                        <option value="A Vista">A Vista</option>
                        <option value="A Prazo">A Prazo</option>
                        <option value="Duplicata">Duplicata</option>
                    </select>
                    <input type="submit" value="Confirmar Venda" class="btn btn-success" />

                </div>
            </div>
        }


</p>
