<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AAP4</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/logo.png" />
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                @*<ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>*@
                <ul class="nav navbar-nav">
                    <li class="btn dropdown">
                        <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Vendas <span class="caret" />
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Clientes", "Index", "Clientes")</li>
                            <li>@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                            <li>@Html.ActionLink("Consultar Vendas", "Index", "Pedidos")</li>
                            <li>@Html.ActionLink("Criar Pedido", "Index", "ItensPedido")</li>
                        </ul>
                    </li>



                    <li class="btn dropdown">
                        <button type="button" class="btn btn-lg btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Estoque <span class="caret" />
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("EstoqueMateria", "Index", "EstoqueMateria")</li>
                            <li>@Html.ActionLink("EstoqueProduto", "Index", "EstoqueProduto")</li>
                            <li>@Html.ActionLink("Fornecedores", "Index", "Fornecedores")</li>
                            <li>@Html.ActionLink("ForneceMaterias", "Index", "ForneceMaterias")</li>
                            <li>@Html.ActionLink("MateriasPrima", "Index", "MateriasPrima")</li>
                        </ul>
                    </li>



                    <li class="btn dropdown">
                        <button type="button" class="btn btn-lg btn-success dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> Financeiro <span class="caret" />
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("ContasPagar", "Index", "ContasPagar")</li>
                            <li>@Html.ActionLink("ContasReceber", "Index", "ContasReceber")</li>
                            <li>@Html.ActionLink("OutrasContas", "Index", "OutrasContas")</li>
                            <li>@Html.ActionLink("PlanoContas", "Index", "PlanoContas")</li>
                            <li>@Html.ActionLink("Dre", "Index", "Dre")</li>
                        </ul>
                    </li>

                </ul>



            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AAP 4º Semetre Web Aplication</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
