@model Fatec.AAP4.Web.Models.estoque_materiaprima

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>estoque_materiaprima</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id_estoque_matprima)

        <div class="form-group">
            @Html.LabelFor(model => model.id_matprima, "Código Matéria-Prima", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_matprima", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_matprima, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.id_planocontas, "id_planocontas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_planocontas", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_planocontas, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.quant_minima, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quant_minima, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quant_minima, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quant_maxima, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quant_maxima, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quant_maxima, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.quant_atual, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="alert alert-success" role="alert">
                    <b>
                        <input class="form-control text-box single-line valid" data-val="true" data-val-number="The field quant_atual must be a number." id="quant_atual" name="quant_atual" type="number" value="@Model.quant_atual" aria-invalid="false" aria-describedby="quant_atual-error">


                        @*@Html.EditorFor(model => model.quant_atual, new { htmlAttributes = new { @class = "form-control" } })*@
                    </b>


                    @Html.ValidationMessageFor(model => model.quant_atual, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2" for="quant_adicionada">Adicionar:</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.quant_adicionada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quant_adicionada, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar Alterações" class="btn btn-warning btn-sm" />
            </div>
        </div>
    </div>
}

<div>
        @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
