@model Fatec.AAP4.Web.Models.produto

@{
    ViewBag.Title = "Create";
}

<h2>Cadastro de produtos</h2>
<h3>Inclusão</h3>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="descricao_produto">Código produto</label>

            <div class="col-md-10">
                @Html.EditorFor(model => model.id_produto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.id_produto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="descricao_produto">Descrição</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.descricao_produto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descricao_produto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="valor_unitario">Preço Unitário</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.valor_unitario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.valor_unitario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdMateriaPrima, "Materia Prima Utilizada", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("idMateriaPrima", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdMateriaPrima, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="descricao_produto">Quantidade Produção</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.QtdeMateriaUsada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.QtdeMateriaUsada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Incluir" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
        @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
