@model Fatec.AAP4.Web.Models.produto

@{
    ViewBag.Title = "Details";
}

<h2>Cadastro de produtos</h2>
<h3>Detalhes</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Descrição
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_produto)
        </dd>

        <dt>
            Preço Unitário
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_unitario)
        </dd>
        <dt>
            Quantidade Matéria-Prima por Unidade
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdeMateriaUsada)
        </dd>

        <dt>
            Matéria-Prima Utilizada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materia_prima.descricao_matprima)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_produto }, new { @class = "btn btn-warning btn-sm" }) |
    @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
</p>
