@model Fatec.AAP4.Web.Models.produto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.descricao_produto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_produto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_unitario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_unitario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_produto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
