@model IEnumerable<Fatec.AAP4.Web.Models.produto>

@{
    ViewBag.Title = "Index";
}


<div class="panel panel-default">
    <div class="panel-heading">

        <h2>Cadastro de produtos</h2>
    </div>

    <div class="panel-body">

        @*@Html.ActionLink("Incluir", "Create")*@

        @Html.ActionLink("Incluir", "Create", null, new { @class = "btn btn-primary btn-sm" })
        <br />

        <table class="table">
            <tr>
                <th>
                    Código
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Preço Unitário
                </th>
                <th>
                    Quantidade Matéria-Prima
                </th>
                <th>
                    Matéria-Prima Utilizada
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id_produto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descricao_produto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.valor_unitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QtdeMateriaUsada)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.materia_prima.descricao_matprima)
                    </td>
                    <td>

                        @Html.ActionLink("Editar", "Edit", new { id = item.id_produto }, new { @class = "btn btn-warning btn-sm" }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = item.id_produto }, new { @class = "btn btn-success btn-sm" }) |
                        @Html.ActionLink("Deletar", "Delete", new { id = item.id_produto }, new { @class = "btn btn-danger btn-sm" })


                    </td>
                </tr>
            }

        </table>
    </div>
</div>