@model Fatec.AAP4.Web.Models.outras_contas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>outras_contas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_conta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_conta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao_conta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_conta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.data_cadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.data_cadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.plano_contas.codigo_planocontas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.plano_contas.codigo_planocontas)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_conta }, new { @class = "btn btn-warning btn-sm" }) |
        @Html.ActionLink("Voltar", "Index", null,new { @class = "btn btn-default btn-sm" })
</p>
